* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    background-color: rgb(3, 3, 59);
    color: white;
    height: 6rem;
    line-height: 6rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}


.choice {
    margin-top: 2rem;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
    opacity:0.7;
    cursor:pointer;
    background-color: black;
    
}


 img {
    height:150px;
    width: 150px;
    border-radius: 50%;
    /* font-size: 4rem; */
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.msg-container {
    margin-top:2rem;
}

#msg {
    font-size: 2rem;
    margin-top: 3rem;
    background-color: rgb(3, 3, 59);
    color: white;
    height: 4rem;
    line-height: 4rem;
    display:inline;
    padding:1rem;
    border-radius: 1rem;
}








#user-score, #comp-score {
    font-size: 4rem;
}

